* {
    border: none;
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}

body {
    text-align: center;
    color: #03045e;
}

body p, 
li
 {
    color: rgb(61, 61, 61);
}

.title {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #0077b6;
    color: white;
    font-size: 48px;
    font-weight: 500;
}

.recipe-links {
    text-align: center;
}

.recipe-links li a,
.home-link
{
    text-decoration: none;
    color: #03045e;
    font-size: 32px;
}

.recipe-links li a:hover, 
.home-link:hover
{
    color: gray;
}